@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    font-family: 'Alkalami', serif;
}

.container input,
.container select {
    display: inline-block;
}

button {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    font-size: 15px;
}

button:hover {
    background-color: antiquewhite;
    color: blue;
}

.container img {
    margin: 0 5%;
}

.container div {
    margin: 0 5%;
}